/* General */

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

body {
  font-family: "Maven Pro", sans-serif;
  background-color: black;
}

.about,
.projects,
.contact {
  display: block;
  text-align: center;
  padding-top: 225px;
}

/* Navbar  */

.navbar-wrapper {
  font-weight: 600;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar {
  display: flex;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(10, 9, 9, 0.98);
}

.nav-ul {
  display: flex;
  list-style: none;
  margin: auto;
  padding: 0;
  text-align: center;
}

.navbar-links a {
  font-size: 1.4em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: #efefef;
  margin: 12px;
}

.navbar-links a:hover {
  color: lightcoral;
}

.navbar-links a:active {
  color: lightcoral;
}

@media screen and (max-width: 460px) {
  .navbar-links a {
    font-size: 1.1em;
    margin: 8px;
  }
}

@media screen and (max-width: 370px) {
  .navbar-links a {
    font-size: 0.8em;
    margin: 4px;
  }
}

@media screen and (max-width: 270px) {
  .navbar-links a {
    font-size: 0.7em;
    margin: 2px;
  }
}

/* About */

.about-container {
  background: url("../imgs/hamburg.jpg") fixed no-repeat;
  box-shadow: inset 0 0 0 1200px rgba(0, 0, 0, 0.8);
  background-size: cover;
  height: 980px;
  object-fit: cover;
  margin-top: -8px;
}

.about-text {
  color: white;
  text-align: center;
  position: absolute;
  display: inline-block;
  left: 1%;
  right: 1%;
  top: 35%;
  margin: auto;
}

.about-name {
  font-size: 2em;
  margin-bottom: 6px;
}

.about-paragraph {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  line-height: 1.325;
}

@media screen and (max-width: 450px) {
  .about-name {
    font-size: 1.6em;
  }
  .about-paragraph {
    margin-top: 10px;
    width: 90%;
  }
}

@media screen and (max-width: 350px) {
  .about-name {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 300px) {
  .about-name {
    font-size: 1.1em;
  }
}

/* Projects */

.project-text {
  margin-top: -140px;
  margin-bottom: 60px;
  font-size: 2em;
}

.projects-container {
  background: lightblue;
  background-size: contain;
  width: 100%;
}

.card-container {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  background-size: cover;
}

.card {
  justify-content: center;
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: 360px 120px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: lightgray;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}

.card-text {
  grid-area: text;
}

.card-links {
  grid-area: links;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-image img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  overflow: hidden;
}

.card-links {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-top: 1px solid lightgray;
}

.card-links .link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.card-links a {
  color: black;
  font-size: 2.2em;
}

.card-links a:hover {
  color: lightcoral;
}

@media screen and (max-width: 1450px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-text {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 810px) {
  .card-image img {
    width: 80%;
  }
}

@media screen and (max-width: 530px) {
  .project-text {
    font-size: 1.2em;
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 380px) {
  .card {
    grid-template-rows: 220px 120px 80px;
    grid-template-columns: 220px;
  }
  .card-links a {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 270px) {
  .card {
    grid-template-columns: 180px;
  }
  .card-links a {
    font-size: 1.6em;
  }
}

/* Contact */

.contact-text {
  margin-bottom: 90px;
  font-size: 2em;
}

.contact-text p {
  width: 30%;
  margin: auto;
}

.contact {
  padding-bottom: 125px;
  background: lightblue;
  background-size: contain;
  width: 100%;
}

.subject,
.user_name,
.email {
  margin: 5px;
  min-width: 440px;
  border: none;
}

.message {
  min-width: 440px;
  min-height: 220px;
  margin: 5px;
  border: none;
}

.contact-container {
  background-color: lightgray;
  padding: 20px;
  margin: auto;
  width: 480px;
  border-radius: 12px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.submit-button {
  margin-top: 8px;
  padding: 5px;
  border-radius: 6px;
}

@media screen and (max-width: 1240px) {
  .contact-text {
    font-size: 1.4em;
  }
  .contact-text p {
    width: 40%;
  }
}

@media screen and (max-width: 1020px) {
  .contact-text {
    font-size: 1.2em;
  }
  .contact-text p {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .contact-text {
    font-size: 1em;
  }
  .contact-text p {
    width: 80%;
  }
}

@media screen and (max-width: 560px) {
  .subject,
  .user_name,
  .email {
    min-width: 340px;
  }

  .message {
    min-width: 340px;
    min-height: 170px;
  }
  .contact-container {
    width: 360px;
  }
}

@media screen and (max-width: 440px) {
  .subject,
  .user_name,
  .email {
    min-width: 300px;
  }

  .message {
    min-width: 300px;
    min-height: 150px;
  }
  .contact-container {
    width: 320px;
  }
}

@media screen and (max-width: 380px) {
  .subject,
  .user_name,
  .email {
    min-width: 280px;
  }

  .message {
    min-width: 280px;
    min-height: 140px;
  }
  .contact-container {
    width: 300px;
  }
}

@media screen and (max-width: 360px) {
  .subject,
  .user_name,
  .email {
    min-width: 200px;
  }

  .message {
    min-width: 200px;
    min-height: 100px;
  }
  .contact-container {
    width: 220px;
  }
}

@media screen and (max-width: 280px) {
  .subject,
  .user_name,
  .email {
    min-width: 160px;
  }

  .message {
    min-width: 177px;
    min-height: 80px;
  }
  .contact-container {
    width: 190px;
  }
}

@media screen and (max-width: 244px) {
  .subject,
  .user_name,
  .email {
    width: 120px;
  }

  .message {
    min-width: 160px;
    min-height: 80px;
  }
  .contact-container {
    width: 170px;
  }
}
